ASPNETCORE_ENVIRONMENT=Development
DOTNET_ENVIRONMENT=Development
POSTGRES_CONNECTION=Host=postgres;Username=dragon;Password=dragon;Database=dragon
RABBITMQ_CONNECTION=amqp://guest:guest@rabbitmq:5672
KEYCLOAK_AUTHORITY=http://keycloak:8080/realms/dragon
MINIO_ENDPOINT=http://minio:9000
REDIS_CONNECTION=redis:6379